# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.idea/workspace.xml
./src/App.test 2.js
./src/App 2.css
./src/CampList.js
./src/CampListItem.js
./src/index 2.css
./src/index 2.js
./src/InfoWindow.js
./src/Marker.js


npm-debug.log*
yarn-debug.log*
yarn-error.log*
