.App {
  text-align: center;
}

/* Header style */
.menu {
  height: 50px;
  position: absolute;
  left: 30px;
  top: 25px;
  display: none;
  cursor: pointer;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.App-header {
  background-color: #fffdd0;
  height: 80px;
  color: black;
  padding: 10px;
  border-bottom: 1px solid #d73027;
}
.App-title {
  font-size: 2em;
  text-align: center;
  width: 300px;
  display: inline-block;
  font-weight: 100;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Navigator styles */
.nav_panel {
  width: 250px;
  background: #fffdd0;
  color: black;
  position: absolute;
  left: 0;
  padding: 0 5px 0 20px;
  text-align: left;
  top: 101px;
  bottom: 0px;
}

/* Google Maps*/
.map {
  left: 275px;
  position: absolute;
  right: 0px;
  top: 101px;
  bottom: 0px;
}

/*Button*/
.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #d73027;
  color: white;
  font-size: 1em;
  cursor: pointer;
}
.button:hover {
  background: #1a9850;
}