@media screen and (max-width: 800px) {
    .menu {
        height: 25px;
        position: absolute;
        left: 30px;
        top: 30px;
        display: inline;
    }
    .hidden {
        display: none;
    }
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 40px;
        display: inline-block;
        margin-right: auto;
        margin-left: 20px;
    }
    .App-header {
        background-color: #fffdd0;
        height: 60px;
        color: black;
        padding: 5px;
        padding-top:15px;
        border-bottom: 1px solid #d73027;
    }
    .App-title {
        font-size: 1.5em;
        text-align: center;
        width: 220px;
        display:inline-block;
        font-weight: 100;
    }
    .map {
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 81px;
        bottom: 0;
    }
    .nav_panel {
        width: 250px;
        background: #fffdd0;
        color: black;
        position: absolute;
        left: 0;
        padding: 0 5px 0 20px;
        text-align: left;
        top: 81px;
        bottom: 0px;
    }
}

@media screen and (max-width: 450px) {
    .App-header {
        background-color: #fffdd0;
        height: 60px;
        color: black;
        padding: 5px;
        padding-top:15px;
        border-bottom: 1px solid #d73027;
    }
    .menu {
        height: 25px;
        position: absolute;
        left: 30px;
        top: 30px;
        display: inline;
    }
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 30px;
        display: inline-block;
        margin-right: auto;
        margin-left: 20px;
    }
    .hidden {
        display: none;
    }
    .map {
        left: 0;
        position: absolute;
        right: 0;
        background: lightgray;
        z-index: -1;
        top: 81px;
        bottom: 0;
    }
}